.page-head {
  padding: 40px 0;
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(21,21,20,0.1);
  .container {
    display: flex;
    align-items: center;
  }
}

.page-nav {
  flex: 1;
  justify-content: flex-end;
  text-align: right;
  li {
    display: inline-block;
  }
  span {
    padding-left: 20px;
    cursor: pointer;
    color: #444;
    &:hover {
      color: $primary;
    }
    &.nav-active {
      color: $primary;
    }
  }
}

.page-banner {
  flex: 1;
}

.page-description {
  color: #999
}

.page-title {
  color: $primary;
  margin-top: 0;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    color: $primary_active;
  }
}
