.button {
  position: relative;

  display: inline-block;

  height: 3em;
  padding-right: 2em;
  padding-left: 2em;

  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;

  color: #fff;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 3px;
  background-color: #00c4a7;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: none;

  -webkit-appearance: none;
  -webkit-touch-callout: none;
  font-size: 14px;

  &:hover, &:active {
    background-color: #00b89c;
  }

  &:disabled,
  &.is-disabled {
    pointer-events: none;

    color: #7a7a7a;
    background-color: whitesmoke;
  }

  &:focus {
    outline: 0;
  }
}
