@import "~normalize.css/normalize.css";
@import "./external.scss";

*,
 :after,
 :before {
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Sans GB", 华文细黑, STHeiti, 微软雅黑, "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;

  line-height: 1.5;
  color: #777b81;
  font-size: 14px;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 980px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include respond(pad) {
    max-width: 660px;
  }
}

.main {
  padding: 10px 0;
  background: #efefef;

  @include respond(pad) {
    padding: 60px 0;
  }

  @include respond(pc) {
    padding: 60px 0;
  }
}

.post-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313438;
}

.iconfont {
  vertical-align: middle;
}
