@import "./markdown.css";
@import "./atom-one-light.css";

.container.post-container {
  padding: 0;

  @include respond(pad) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include respond(pc) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.post-content {
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(21, 21, 20, 0.1);
  background-color: #fff;
}

.post-main {
  position: relative;
  min-height: 300px;
  padding: 20px;

  @include respond(pad) {
    padding: 70px 80px 60px;
  }

  @include respond(pc) {
    padding: 100px 160px 120px;
  }
}

.post-footer {
  background: #f7f7f7;
  border-top: 1px solid #e7e7e7;
  padding: 10px 20px;
}
